{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Page d'accueil{% endblock %}
{% block contenu %}
{{ parent() }}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Accueil</h5>

        <ul class="list-unstyled">
          <li>
            <a href="index.php?page=inscrire" class="text-dark">S'inscrire</a>
          </li>
          {% if session.login is defined %}
          {% else %}          
          <li>
            <a href="index.php?page=connexion" class="text-dark">Se connecter</a>
          </li>
          {% endif %}
          <li>
            <a href="index.php?page=contact" class="text-dark">Nous contacter</a>
          </li>
          <li>
            <a href="index.php?page=mentions" class="text-dark">Mentions Légales</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Tous droits réservés :
    <a class="text-dark" href="index.php">Au Coin Chaud</a>
  </div>
</footer>
{% endblock %}